<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<!--/* Workaround for bug https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<!--@thymesVar id="event" type="com.insat.gestionformation.models.Event"-->
<!--@thymesVar id="name" type="String"-->
<!--@thymesVar id="capcity" type="int"-->
<!--@thymesVar id="description" type="String"-->
<!--*/-->
<body>
<h1>Welcome !!!!!</h1>
    <!--<a href="/addevent">Add a new event</a>-->
</body>
</html>